@model GithubLabelMl.Models.Gitpred


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gitpred</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>

    </dl>
</div>
<section class="container text-info text-justify">
    <p class="text-danger">Predicted value - </p> <p class="container box-shadow shadow-lg text-lg-center p-5"> @Model.TestIt() </p>

</section>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
